body {
	display: flex;
	justify-content: center;
}

.game {
	display: flex;
	flex-direction: row;
}

#gameArea {
    position: relative;
    border: solid white;
    border-width: 1px;
    margin: auto;
    width: 600px;
    height: 800px;
}

.score {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 20px;
	margin-left: 15px;
}

.message {
	font-size: 70px;
	position: absolute;
	top: 200px;
}

#retour {
	align-self: flex-start;
	font-family: 'ArcadeClassic', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

#tabScore {
	position: absolute;
	top: 360px;
	left: 215px;
}

#over {
	left:140px;
}

#clear {
	left:60px;
}

#highest {
	color:red;
	font-size: 30px;
}

#highest > p > span {
	color: white;
}

#start {
	left: 170px;
}

#saisieScore {
	position: absolute;
	top: 350px;
	left:70px;
	font-size: 30px;
	text-align: center;
}

#saisieScore > input {
	margin-bottom: 20px;
	font-size: 30px;
	background-color: black;
	color: white;
}

#saisieScore > button {
	padding: 5px;
	background-color: black;
	border: solid;
	border-color: white;
	color: white;
	font-family: 'ArcadeClassic', sans-serif;
	border-width: 1px;
	font-size: 20px;
}


