.title {
    margin: auto;
    width: 800px;
}

.selection {
    margin: auto;
    width: 500px;
    list-style: none;
}

.selection > li > a {
	font-family: 'ArcadeClassic', sans-serif;
    font-size: 35px;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    width: 100%;
    background-color: black;
}

.selection > li > a:hover {
	background-color: rgb(105, 105, 105);
}

.selection > li {
    margin-top: 30px;
    width: 350px;
    text-align: center;
}