html {
    background-color: black;
    color: white;
	font-family: 'ArcadeClassic', sans-serif;
}

a {
    border: solid;
    border-width: 1px;
    border-color: white;
    padding: 5px;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: rgb(105, 105, 105);
}

.hidden {
    visibility: hidden;
}

