.tableau {
	margin: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#score {
	font-size: 3em;
}

table {
	margin: 1%;
	font-size: 1.5em;
	font-size: 2em;
}

td:nth-child(1) {
	text-align: center;
	width: 50px;
	height: 50px;
}

td:nth-child(2) {
	text-align: center;
	width: 200px;
	height: 50px;
}

td:nth-child(3) {
	text-align: center;
	width: 200px;
	height: 50px;
}

td {
	border-style: solid;
	border-color: white;
}

#retour {
	font-family: 'ArcadeClassic', sans-serif;
	color: white;
    text-decoration: none;
	font-size: 2em;
}